<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content" class="main">

    <div class="container">
        <h2 class="mt-5 mb-5">insert</h2>
        <form action="" th:action="@{/member/join}"  th:object="${joinDto}" method="post" >
            <div th:if="${#fields.hasGlobalErrors()}">
                <th:block  th:each="item :${#fields.globalErrors()}">
                    <p class="fieldError" th:text="${item}"></p>
                </th:block >
            </div>
            <div class="mb-3">
                <label for="id" class="form-label">아이디</label>
                <input type="text" class="form-control" id="id" placeholder="id" th:field="*{id}">
                <div class="error" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">

                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">비밀번호</label>
                <input type="text" class="form-control" id="password" placeholder="password" th:field="*{password}">
                <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">

                </div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">이름</label>
                <input type="text" class="form-control" id="name" placeholder="name" th:field="*{name}">
                <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">

                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="text" class="form-control" id="email" placeholder="email" th:field="*{email}">
                <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">

                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" id="btnSend">인증번호 받기</button>
            </div>
            <div class="mb-3" style="display: none" id="confirm">
                <label for="email" class="form-label">email confirm</label>
                <input type="text" class="form-control" id="emailConfirm" placeholder="인증번호확인" >
                <button class="btn btn-primary" id="btnConfirm">이메일 인증하기</button>
            </div>



            <div class="mb-3">
                <label for="userrole" class="form-label">유저롤</label>
                <input type="text" class="form-control" id="userrole" placeholder="userrole" th:field="*{userrole}">
            </div>
            <div class="d-flex justify-content-center mt-5">
                <button class="btn btn-primary" id="btnJoinComfirm">확인</button>
            </div>
        </form>
        <script>
            let isAuth = false;
            let = confirmNum = 0;
            $("#btnSend").on("click",function(){
                $("#confirm").show();
                $.ajax({
                    url:"/mail/confirm",
                    method:"POST",
                    data:{mail: $("#email").val()},
                    success:function(result){
                        alert("이메일 인증번호가 발송되었습니다.")
                        console.log(result);
                        confirmNum = result.confirmNum;
                    }
                });
                return false
            })
            $("#btnConfirm").on("click",function(){
            if(confirmNum==$("#emailConfirm").val()){
                alert("인증성공입니다.")
                isAuth = true;
            }else{
                alert("인증실패입니다.")
            }
            });
            $("#btnJoinComfirm").on("click",function(){
                if(isAuth){
                    $("form").submit();
                }
                alert("메일 인증하셔야 합니다.")
                return false;
            })
        </script>
    </div>
</div>